body {
  position: relative;
  overflow-x: hidden;
  %btn {
    position: absolute;
    top: 50%;
    background: none;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 50%;
    &:hover {
      background-color: #f3f3f3;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
